
/* Nav bar */

.activeNav{
  position: fixed; 
}

.topNav{
  position: absolute;
}

nav{
position: absolute;
border-block-end: 1px solid var(--champagne-pink_20);
}

.nav-item{
  color: var( --champagne-pink);
}

.brand,.brandDot{
font-weight: bold;
display: inline;
}

.brandDot{
  color:  var(--tangerine);
} 


/* Banner */

/* .hero-banner { 
  display:none;
  display: block;
  position: absolute;
  top: calc(50% + 86px);
  transform: translateY(-50%);
  right: 50px;
  max-width: 40%;
  aspect-ratio: 1 / 0.9;

} */

.hero {
  background-image: url('../../assets/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 145px 60px;
  text-align: center;
  position: relative;
  text-align: left;
  overflow: hidden;
  z-index: 1;
  min-height: 660px;
  display: grid;
  align-items: center;
}

.hero-title {
  color: var(--champagne-pink);
  max-width: 12ch;
  margin-inline: auto;
}
.hero-subtitle {
  color: var(--dark-orange);
  font-family: var(--ff-shadows-into-light);
  font-size: var(--fs-3);
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.hero-text {
  color: var(--desert-sand);
  margin-block: 15px 30px;
  max-width: 44ch;
  margin-inline: auto;
}

.hero .btn { 
  background-color: var(--deep-saffron);
  color: var(--white);
  margin-inline: auto;
  font-weight: bold;

}

.hero .btn:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
}


.hero-content > :is(*, .btn) { margin-inline: 0; }


.hero-img {
  position: absolute;
  /* bottom: 0; */
}

.hero::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/hero-bg-shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  pointer-events: none;
  z-index: -1;
}


.hero-subtitle { --fs-3: 3.2rem; }

.hero-title {
  --fs-1: 7rem;
  
  letter-spacing: -2.5px;
}
/* 
.hero-img-bg { transform: scale(1.4) translate(20px, -20px); } */

.hero { min-height: 770px; }