<p>shop works!</p>
<div class="container  ">

    <div style="text-align: center;">
  
      <h4 style="color: red;"><strong> Blog Posts</strong></h4>
      <h2><strong> Is All About <span style="color:  orange;">Foods</span></strong></h2>
      <h4 style="color: grey; ;">Food is any substance consumed to provide nutritional support for an organism. </h4>
    </div>
    <div class="row ">
  
      <div class="col-lg-4">
  
  
  
        <div class="card" style="width: 400px;">
  
          <img src="./assets/img/1-list.jpg" class="card-img-top" alt="..." style="height:215px ;width:400px">
          <button class="btn btn-warning" style="width:100px ;align-items:right; position:absolute;">PIZZA</button>
  
          <div class="card-body">
            <P style="color:orange;font-size: smaller;">
              <i class="fa-solid fa-calendar-days"></i> <label class="text" style="color: black;"> &nbsp;Jan 01 2022
              </label>&nbsp;
              <i class="fa-regular fa-user"></i> &nbsp;<label class="text" style="color: black;"> Jonathan Smith</label>
            </P>
            <h5 class="card-title">What Do You Think About Cheese Pizza Recipes?</h5>
            <p class="card-text">Financial experts support or help you to to find out which way you can raise your funds
              more... </p>
            <a href="#">READ MORE ?</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
  
  
        <div class="card" style="width: 400px;">
          <img src="./assets/img/2-list.jpg" class="card-img-top" alt="..."
            style="height:215px ;width:400px; position: relative ">
          <button class="btn btn-warning" style="width:100px ;align-self:right;  position:absolute;">Burger</button>
          <div class="card-body">
            <P style="color:orange;font-size: smaller;">
  
              <i class="fa-solid fa-calendar-days"></i> <label class="text" style="color: black;"> &nbsp;Jan 01 2022
              </label> &nbsp;
              <i class="fa-regular fa-user"></i>&nbsp; <label class="text" style="color: black;"> Jonathan Smith</label>
            </P>
            <h5 class="card-title">Making Chicken Strips With New Delicious Ingridents.</h5>
            <p class="card-text">Financial experts support or help you to to find out which way you can raise your funds
              more... </p>
            <a href="#">READ MORE ?</a>
          </div>
        </div>
      </div>
  
  
  
      <div class="col-lg-4">
        <div class="card" style="width: 400px;">
          <button class="btn btn-warning" style="width:100px ;align-self:right;  position:absolute;">Chicken</button>
          <img src="./assets/img/3-list.jpg" class="card-img-top" alt="..." style="height:215px ;width:400px">
          <div class="card-body">
            <P style="color:orange;font-size: smaller;">
              <i class="fa-solid fa-calendar-days"></i> <label class="text" style="color: black;"> &nbsp;Jan 01 2022
              </label> &nbsp;
              <i class="fa-regular fa-user"></i>&nbsp; <label class="text" style="color: black;"> Jonathan Smith</label>
            </P>
            <h5 class="card-title">Innovative Hot Chessyraw Pasta Make Creator Fact.</h5>
            <p class="card-text">Financial experts support or help you to to find out which way you can raise your funds
              more... </p>
            <a href="#">READ MORE ?</a>
          </div>
  
  
  
        </div>
      </div>
  
  
    </div>
  </div>